.popup__submit_disabled {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
    opacity: .2;
    transition: none;
    box-sizing: border-box;
    border-radius: 2px;
    pointer-events: none;
    user-select: none;
}
