.popup__container {
    max-width: 430px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 15%);
    position: fixed;
    width: 100%;
}

@media (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
    }
}