.profile__subtitle {
    margin: 0;
    padding-bottom: 0;
    max-width: 318px;
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        padding-bottom: 36px;
        font-size: 14px;
        line-height: 17px;
        padding-left: 34px;
    }
}
