.profile {
    margin: 0 auto;
    padding: 40px 0 51px 0;
    max-width: 882px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .profile {
        max-width: 620px;
        padding: 40px 0 40px 0;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        margin: 0;
        flex-direction: column;
        padding-top: 42px;
    }
}












