.profile {
    margin: 0 auto;
    padding: 40px 0 51px 0;
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 336px auto;
    gap: 30px;
    box-sizing: border-box;
    justify-items: center;
}

@media screen and (max-width: 1023px) {
    .profile {
        max-width: 620px;
        gap: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        padding: 42px 0 36px 0;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    }
}












