.elements__remove-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/remove1.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.elements__remove-button:hover {
    opacity: 0.7;
}
