.elements__wrap {
    background: #FFFFFF;
    margin: 0;
    padding: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    align-items: center;
}
