.header {
    padding: 45px 0 40px 0;
    margin: 0 auto;
    max-width: 882px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .header {
        max-width: 620px;
        padding: 28px 1px 42px 3px;
    }
}

@media (max-width: 767px) {
    .header {
        max-width: 324px;
        padding: 28px 1px 42px 3px;
    }
}

.logo {
    max-width: 141px;
    margin: 0 0 40.6px 0;
}

@media (max-width: 1023px) {
    .logo {
        padding: 0 0 31px 0;
    }
}

@media (max-width: 767px) {
    .logo {
        padding: 0 0 31px 27px;
    }
}


.header__line {
    outline: 1px solid #545454;
    max-width: 882px;
    opacity: 0.7;
}

