.profile__title {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    max-width: 295px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 767px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
    }
}
