.profile__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__block {
        padding: 0;
        flex-direction: column;
    }
}
