.popup__error {
    opacity: 0;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #FF0000;
    min-height: 30px;
    display: block;
}