.logo {
    max-width: 141px;
    padding: 0 0 41px 0;
}

@media (max-width: 1023px) {
    .logo {
        padding: 0 0 31px 0;
    }
}

@media (max-width: 767px) {
    .logo {
        padding: 0 0 31px 27px;
    }
}