.profile__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 767px) {
    .profile__container {
        /*padding-top: 26px;*/
        max-width: 280px;
        justify-content: center;
    }
}