.elements__title {
    margin: 0;
    padding: 25px 0 20px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
