.popup__figure-container {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    width: auto;


}

@media (max-width: 767px) {
    .popup__image {
        padding-left: 40px;
        padding-right: 40px;
    }
}



