.profile__add-button {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 35px 0 35px 0;
    padding: 0;
    width: 150px;
    height: 50px;
    background-image: url(../../../images/plus-add.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s, ease-in-out;
    justify-self: self-end;
    align-self: center;
}

.profile__add-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        background-size: 16px;
        width: 282px;
        margin: 0 auto;


    }
}