.elements__like-numbers {
    margin: 3px 0 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}


.elements__like-numbers:hover {
    opacity: 0.7;
}
