.elements__list {
    margin: 0 auto;
    padding: 0 0 66px 0;
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    align-content: space-around;
    justify-content: space-between;
    list-style-type: none;
    justify-items:center;
}

@media screen and (max-width: 1023px) {
    .elements__list {
        padding: 0 0 48px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 55px;
        max-width: 620px;
    }
}

@media screen and (max-width: 767px) {
    .elements__list {
        padding: 0 19px 48px 19px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
    }
}
